.headerContainer {
  height: 6rem;
}

.headerContent {
  max-width: 1120px;
  height: 6rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5%;

  img {
    max-width: 180px;
    cursor: pointer;
  }

  a {
    display: flex;
  }
}

.menuNav {
  display: flex;
  align-items: center;

  a {
    color: var(--white);
    padding: 0 0.5rem;
    display: inline-block;
    position: relative;
    transition: color 0.5s;

    & + a {
      margin-left: 1rem;
    }

    &:hover {
      color: var(--red-900);
    }
  }

  button {
    margin-left: 2rem;
    background: transparent;
    border: 0;
    transition: transform 0.5s;
    display: flex;
    align-items: center;

    &:hover {
      transform: scale(1.2);
    }
  }
}
